In [10]:
import os
import networkx as nx
import pandas as pd
import numpy as np
data_dir = os.path.expanduser("./cora")

In [13]:
edgelist = np.loadtxt(os.path.join(data_dir, "cora.cites"), delimiter='\t').astype(int)
print(edgelist)

[[     35    1033]
 [     35  103482]
 [     35  103515]
 ...
 [ 853118 1140289]
 [ 853155  853118]
 [ 954315 1155073]]

In [16]:
df = pd.read_csv(os.path.join(data_dir, "cora.cites"), delimiter='\t', header=None, names=['target','source'])
df.head()

   target   source
0      35     1033
1      35   103482
2      35   103515
3      35  1050679
4      35  1103960

In [ ]:
edge_list = [(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (1, 2), (4, 5)]
G = nx.Graph()
G.add_edges_